@import "nav";

.dbugle-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(20, 1fr);
    &__header{
        grid-column: 1 / 4;
        grid-row: 1 / 1;
        background: black;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-style: italic;
        text-transform: uppercase;

    }
    //Nav
    &__nav{
        grid-column: 1 / 4;
        grid-row: 2 / 3;
        display: flex;
        color: white;
        background: #E31B05;
        align-items: center;
        font-size: 1.3rem;
        @media screen and (max-width: 630px){
            font-size: 0.75rem;
        }


    }
    &__main{
        grid-column: 1 / 4;
        grid-row: 3 / 15;
        display: flex;
        align-items: center;
        background: black;
        justify-content: center;
        color: white;



    }
    &__section_1{
        grid-column: 1 / 4;
        grid-row: 15 / 18;
        display: flex;
        align-items: center;
        background: white;
        justify-content: center;

    }
    &__section_2{
        grid-column: 1 / 4;
        grid-row: 18 / 21;
        display: flex;
        align-items: center;
        background: black;
        color: white;
    }
    &__footer{
        grid-column: 1 / 4;
        grid-row: 21 / 21 ;
        display: flex;
        align-items: center;
        background: #E31B05;
    }

    

}